.html {
	font-size: 62.5%;
	}

body{
	background-color: black;
	color: lightgrey;
	font-size: 2rem;
}
.slogan {
	margin: 50px 0 50px 0;
	border-color: white;
	text-align: center;
	font-size: 4.8rem;
}
.gallows {
	text-align: center;
	min-height: 280px;
}
.alphabet {
	text-align: center;
	min-height: 280px;
}
.litera {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 5px;
}