.html {
	font-size: 62.5%;
	}
body {
	background-color: #000000;
}
.box{
	background-color: black;
	color: lightgrey;
	font-size: 26px;
	font-family: "Inconsolata";
	font-weight: 700;
}
#plansza {
	margin: 50px 0 50px 0;
	border-color: white;
	text-align: center;
	font-size: 4.8rem;
}
#szubienica {
	text-align: center;
	min-height: 280px;
}
#alfabet {
	text-align: center;
	min-height: 280px;
}
.litera {
	width: 40px;
	min-height: 40px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 5px;
}
.litera:hover {
	background-color: #222222;
	color: white;
	border: 3px solid white;
}
.reset {
	color: green;
	cursor: pointer;
	font-size: 4.8rem;
}
.reset:hover {
	color: white;
}

@media screen(max-width: 380px) {
	.litera {
	width: 20px;
	min-height: 20px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 5px;
}
	#plansza {
	margin: 50px 0 50px 0;
	border-color: white;
	text-align: center;
	font-size: 4.8rem;
	width: 100%;
}
.box{
	background-color: black;
	color: lightgrey;
	font-size: 26px;
	font-family: "Inconsolata";
	font-weight: 700;
	width: 100%;
}
}